body {
    display: flex;
}

#app {
    margin: auto; 
}

.post{
    border-color: rgba(75, 73, 73, 0.733);
    border-radius: 1em;
    border-style: solid;
	border-width: 1px;
	padding: 10px;
	width: 70vw;
	margin: 0 auto;
}

input[type=text]{
	padding: 5px;
	margin: 4px;
    height: 1.5em;
    width: 40%;
    border-radius: 0.2em;
}

textarea{
	margin: 4px;
    height: 2em;
    width: 40%;
    border-radius: 0.2em;
}

.form{
    padding: 30px;
	width: 60vw;
	margin: 0 auto;
	display: flex;
}

.deleteBtn {
   flex: 1 1;
    background-color: red;
    color: black;
    border-radius: 0.3em;
    margin-left: 95%;
    
}

.deleteBtn:hover {
    cursor: pointer;
}

.dateLine{
    text-align: right;
}

#submitBtn {
    flex: 1 1;
    background-color: rgb(71, 141, 233);
    color: white;
    border-radius: 0.3em;
}
#submitBtn:hover{
    background-color: rgb(23, 90, 179);
}
#submitBtn:disabled{
    background-color: rgb(162, 169, 226);
}